body{
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-size:cover;
}
h1{
    font-size: 50px;
    color: rgba(50,50,50,1);
}
h2{
    margin: 0px;
}

#text{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    /* background-color: rgba(0,0,0,1); */
    z-index: 5;
}
#main{
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 50px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 0px;
}

.box{
    background-color: rgba(225,225,225,0.75);
    border: 1px black solid;
    padding: 50px;
}
.box p{
    font-size: 20px;
}
.text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}